<div class="layout horizontal center-center container flex-center-align">
  <paper-card alt="Login" heading="Iniciar sesión">
    <!--<paper-card alt="Login" image="/assets/icons/android-chrome-512x512.png" heading="Iniciar sesión">-->
    <div class="card-content flex-vertical center-center">
      <h2>Bienvenido a la cooperativa la Imposible, inicia sesión con:</h2>
      <div class="center-center flex-center">
        <paper-button on-click="loginGoogle" raised>Google</paper-button>
        <paper-button on-click="loginFacebook" raised>Facebook</paper-button>
      </div>
    </div>
  </paper-card>
</div>
