app-header {
  background-color: #00897B;
  color: red;
}
paper-icon-button {
  --paper-icon-button-ink-color: white;
}
app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}
app-drawer {
  --app-drawer-scrim-background: rgba(0, 0, 100, 0.8);
  --app-drawer-content-container: {
    background-color: #B0BEC5;
  }
}
