<app-drawer-layout fullbleed force-narrow>
  <app-drawer slot="drawer">
    drawer-content
  </app-drawer>
  <app-header-layout has-scrolling-region>
    <app-header slot="header" condenses reveals effects="waterfall">
      <app-toolbar>
        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        <div main-title>cooperativa-rules</div>
      </app-toolbar>
    </app-header>
    <div>main content</div>
    <button on-click="loginGoogle">Google</button>
    <button on-click="loginFacebook">Facebook</button>
  </app-header-layout>
</app-drawer-layout>
